@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";
@import "../../public/fonts/fonts.css";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animate";

html[lang="fa"] {
    font-family: "Vazirmatn", system-ui, sans-serif;
}

/* Persian Language Specific Styles */
html[lang="fa"] * {
    letter-spacing: 0 !important;
}

/* Enable Farsi digits */
html[lang="fa"] {
    -moz-font-feature-settings: "ss01";
    -webkit-font-feature-settings: "ss01";
    font-feature-settings: "ss01";
}
@custom-variant dark (&:where(.dark-mode, .dark-mode *));
@custom-variant label (& [data-label]);
@custom-variant focus-input-within (&:has(input:focus));

@utility scrollbar-hide {
    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    &::-webkit-scrollbar {
        display: none;
        -webkit-appearance: none;
    }

    /* For IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@utility transition-inherit-all {
    transition-property: inherit;
    transition-duration: inherit;
    transition-timing-function: inherit;
}

html,
body {
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    scroll-behavior: smooth;
}

/* Hide the default expand arrow on Safari.  */
details summary::-webkit-details-marker {
    display: none;
}

/* Hide default arrows from number inputs. */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Hide the default clear button (X) from search inputs. */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: #ffffff;
    --foreground: rgb(2, 6, 24);
    --card: rgb(255, 255, 255);
    --card-foreground: rgb(2, 6, 24);
    --popover: rgb(255, 255, 255);
    --popover-foreground: rgb(2, 6, 24);
    --primary: rgb(15, 23, 43);
    --primary-foreground: rgb(248, 250, 252);
    --secondary: rgb(241, 245, 249);
    --secondary-foreground: rgb(15, 23, 43);
    --muted: rgb(241, 245, 249);
    --muted-foreground: rgb(98, 116, 142);
    --accent: rgb(241, 245, 249);
    --accent-foreground: rgb(15, 23, 43);
    --destructive: rgb(231, 0, 11);
    --border: rgb(226, 232, 240);
    --input: rgb(226, 232, 240);
    --ring: rgb(144, 161, 185);
    --chart-1: rgb(245, 73, 0);
    --chart-2: rgb(0, 150, 137);
    --chart-3: rgb(130, 202, 228);
    --chart-4: rgb(255, 185, 0);
    --chart-5: rgb(254, 154, 0);
    --sidebar: rgb(161, 196, 231);
    --sidebar-foreground: rgb(2, 6, 24);
    --sidebar-primary: rgb(15, 23, 43);
    --sidebar-primary-foreground: rgb(248, 250, 252);
    --sidebar-accent: rgb(241, 245, 249);
    --sidebar-accent-foreground: rgb(15, 23, 43);
    --sidebar-border: rgb(226, 232, 240);
    --sidebar-ring: rgb(144, 161, 185);
}

.dark {
    --background: rgb(2, 6, 24);
    --foreground: rgb(248, 250, 252);
    --card: rgb(15, 23, 43);
    --card-foreground: rgb(248, 250, 252);
    --popover: rgb(15, 23, 43);
    --popover-foreground: rgb(248, 250, 252);
    --primary: rgb(226, 232, 240);
    --primary-foreground: rgb(15, 23, 43);
    --secondary: rgb(29, 41, 61);
    --secondary-foreground: rgb(248, 250, 252);
    --muted: rgb(29, 41, 61);
    --muted-foreground: rgb(144, 161, 185);
    --accent: rgb(29, 41, 61);
    --accent-foreground: rgb(248, 250, 252);
    --destructive: rgb(255, 100, 103);
    --border: rgba(255, 255, 255, 0.1);
    --input: rgba(255, 255, 255, 0.15);
    --ring: rgb(106, 114, 130);
    --chart-1: rgb(20, 71, 230);
    --chart-2: rgb(0, 188, 125);
    --chart-3: rgb(254, 154, 0);
    --chart-4: rgb(173, 70, 255);
    --chart-5: rgb(255, 32, 86);
    --sidebar: rgb(15, 23, 43);
    --sidebar-foreground: rgb(248, 250, 252);
    --sidebar-primary: rgb(20, 71, 230);
    --sidebar-primary-foreground: rgb(248, 250, 252);
    --sidebar-accent: rgb(29, 41, 61);
    --sidebar-accent-foreground: rgb(248, 250, 252);
    --sidebar-border: rgba(255, 255, 255, 0.1);
    --sidebar-ring: rgb(106, 114, 130);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

img.i-close-arrow {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.header-menu,
.profile-menu {
  display: none;
  position: absolute;
  background-color: white;
}
.profile-menu-wrapper{
    /* position: relative; */
}

.profile-menu-wrapper:hover::after{
    content: '';
    padding: 100px;
    position: absolute;
}
.user-profile-container:hover .profile-menu {
  border-radius: 18px;
  display: flex;
  top: 80px;
  left: 10px;
  position: absolute;
  flex-wrap: wrap;
}

.testhelper-placement button{
    cursor: pointer !important;
}
.bg-primary-2{
    --bs-bg-opacity: 1;
    background-color: #6e46fe !important;
}


.dictionary-icon{
    content: url(../../public/images/dictionary.png);
    visibility: visible !important;
}

.checkmark-icon{
    border-radius: 999px;
    height: fit-content;
}
.checkmark-icon img{
    content: url(../../public/images/checkmark-white-icon.png);
    visibility: visible !important;
    width: 10px;
}

.world-icon {
  content: url(../../public/images/world-icon.png);
  visibility: visible !important;
}

.globe_book-icon{
    content: url(../../public/images/globe_book-purple.png);
    visibility: visible !important;
}

.new-footer{
    font-family: Vazirmatn,system-ui,sans-serif !important;
}


.tests-feat-img{
    content: url(../../public/images/features/tests-light.png);
}

.exams-feat-img{
    content: url(../../public/images/features/exams-light.png);

}

.vocab-feat-img{
    content: url(../../public/images/features/vocab-light.png);
}

.subject-feat-img{
    content: url(../../public/images/features/subject-light.png);
}
.ai-feat-img{
content: url(../../public/images/features/AI-light.png);
}

.charts-feat-img{
    content: url(../../public/images/features/charts-light.png);
}
.flash-cards-feat-img{
    content: url(../../public/images/features/flash-cards-light.png);
}


.app-feat-img{
    content: url(../../public/images/features/application-light.png);
}

&:where(.dark-mode, .dark-mode *) .tests-feat-img{
    content: url(../../public/images/features/tests-dark.png);
}

&:where(.dark-mode, .dark-mode *) .exams-feat-img{
    content: url(../../public/images/features/exams-dark.png);
}

&:where(.dark-mode, .dark-mode *) .vocab-feat-img{
    content: url(../../public/images/features/vocab-dark.png);
}

&:where(.dark-mode, .dark-mode *) .subject-feat-img{
    content: url(../../public/images/features/subject-dark.png);
}


&:where(.dark-mode, .dark-mode *) .ai-feat-img{
    content: url(../../public/images/features/AI-dark.png);
}


&:where(.dark-mode, .dark-mode *) .charts-feat-img{
    content: url(../../public/images/features/charts-dark.png);
}


&:where(.dark-mode, .dark-mode *) .flash-cards-feat-img{
    content: url(../../public/images/features/flash-cards-dark.png);
}

&:where(.dark-mode, .dark-mode *) .app-feat-img{
    content: url(../../public/images/features/application-dark.png);
}
